#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- Learn basic Python sytanx
- Practice arithmetic operations in Python
- Understand how to use Jupyter Notebooks

#Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia

#Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. Tensorflow

| Data Science Tools              
|------------------|
|Jupyter Notebook  | 
|Rstudio           | 
|Apache Spark      |

###Below are a few examples of evaluating arithmetic expressions in Python.
- Addition: '5+2=7'
- Subtraction: '8-3=5'
- Multiplication: '4*6=24'
- Division: '9/3=3'

In [ ]:
#This a simple arithmetic expression to multiply then add integers.
x=(3*4)+5
print(x)

In [ ]:
minitues=200
hours=minitues/60
print(hours)

##Author

Bilge